<h1>All the restaurants:</h1>

<p> <% @restaurants.each do |restaurant| %>
<ul><li> <%= link_to "#{restaurant.name}", restaurant_path(restaurant) %> </li>
</ul>
<% end %>
</p>
<br>
<h3> <%= link_to "Add a new restaurant", new_restaurant_path %></h3>
